<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label for="name">Name</label><br>
            <input type="name" name="name" placeholder="Enter Name"
                value="<%= typeof name != 'undefined' ? name : '' %>" />
            <br>
            <br>
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>" />
            <br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>" />

            <br><br>
            <label for="address">Address</label><br>
            <input type="text" name="address" placeholder="Enter Address" /><br>
            <br>
            <label for="level">Level</label>
            <select name="level" id="">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <br>
            <br>
            <button type="submit">Register</button>
            <br>
    </form>
    <p>Have An Account? <a href="/login">Login</a></p>
</body>

</html>